.landing-nav {
  position: absolute;
  z-index: 999999;
  width: 82%;
  left: 0;
  right: 0;
  margin: 3% auto 0;
  display: flex;
  justify-content: space-between;

  .logo {
    filter: invert(1);
  }

  .link-container {
    display: flex;
    justify-content: space-between;
    width: 37%;

    .links {
      color: white;
      font-weight: 500;
      font-size: 1.08rem;
    }

    .active-links {
      color: #ffec42;
    }
  }
}

.about-page {
  background-color: #202020;
  margin-top: -1.11%;
  width: 100%;
  height: 102.2vh;

  .about-container {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 90%;
    margin-top: 8%;
    color: white;

    .heading {
      text-align: center;
      font-family: 'Oswald', sans-serif;
      font-weight: 800;
      font-size: 2rem;
      text-transform: uppercase;
    }

    .caption {
      text-align: center;
      font-size: 1.2rem;
    }
  }
}
